*{
	margin: 0;
	padding: 0;
}

.h2{
	font-size: 40px;
	color: #232d60;
    font-family: Arial, Helvetica, sans-serif;
}

/* tampilan kotak pada form daftar */
#containerdaftar{
	width: 350px;
	background: rgb(228, 192, 125);
	margin:80px auto;
    padding: 30px 20px;
    }
/* tampilan untuk input nama, username dan password */
input[type=text],
input[type=text],
input[type=password]{
    font-size: 15px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    background-size: 30px;
    background-position: 5px 5px;
    background-repeat: no-repeat;
    padding-left: 40px;
    border-radius: 5px;
}
/* tampilan input nama dengan menambah gambar nama.png  */
input[type=text]{
    background-image: url('images/nama.png');
}
/* tampilan input nama dengan menambah gambar pengguna.png  */
input[type=text]{
    background-image: url('images/pengguna.png');
}
/* tampilan input username dengan menambah gambar pw.png  */
input[type=password]{
    background-image: url('images/pw.png');
}
/* tampilan input email dengan menambah gambar email.png  */
/* input[type=email]{
    background-image: url('images/email.png');
} */
        
input[type=text]:focus,
input[type=password]:focus {
    border: 2px solid #555;
}
/* tamppilan tombol daftar dan reset */
input[type=submit],
input[type=submit],
input[type=reset]{
    font-size: 15px;
    background: orange;
    color: white;
    border: white 3px solid;
    border-radius: 5px;
    padding: 12px 20px;
    cursor:pointer;
    margin-top: 10px;
}

input[type=submit]:hover,
input[type=reset]:hover{
    opacity:0.9;
}

input[type=reset]{
    background:  #999999;
}
